name : Build and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
   
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v5

    - name: Setup dotnet
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: '8.0.x'

    - name: Restore dependencies
      run: dotnet restore Quizzy.sln

    - name: Build
      run: dotnet build Quizzy.sln --no-restore --configuration Release

    - name: Test
      run: dotnet test Quizzy.sln --no-build --configuration Release
